.submenu {
    width: 10rem;
    padding: 1px 1px;
    position: absolute;
    top: 60px;
    list-style: none;
    text-align: start;
  }
  
  .submenu li {
    background: rgb(0, 0, 0);
    padding: 1px 1px;
    cursor: pointer;
  }
  
  .submenu li a:hover {
    background: rgb(255, 0, 0);
  }
  
  .submenu.clicked {
    display: block;
  }
  
  .submenu-item {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 0px;
  }
  