.navbar {
    background: #000000;
    display: flex;
    margin-bottom: 0%;
  }
  
  .navbar-logo {
    color: rgb(255, 255, 255);
    font-size: 2%;
    display: flex;
    justify-content: space-between;
  }
  
  .nav-items {
    display: flex;
    text-align: center;
    width: fit-content;
    justify-content: flex-center;
  }
  
  .nav-item {
    display: inline-flex;
    align-items: center;
    height: 10vh;
  }
  
  .nav-item a {
    text-decoration: none;
    color: white;
    background-color: darkgray;
    font-size: 150%;
    margin-right: 2rem;
    padding: 10%;
    border-radius: 5px;
  }
  
  .nav-item a:hover {
    background: rgb(249, 247, 144);
    color:purple;
  }
  